<IfModule mod_rewrite.c>
    RewriteEngine on

    # If file doesn't exist send to front controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /Architecture-N-Tiers-examgenerator/index.php [QSA,L]
</IfModule>